@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Space Mono";
}

body {
  background-color: #f2f2f2;
}

.mode-container:hover #moon-icon path {
  fill: #222731;
}
.mode-container:hover .mode-dark-text {
  color: #222731;
}
.mode-container:hover #sun-icon path {
  fill: #90a4d4;
}
.mode-container:hover .mode-light-text {
  color: #90a4d4;
}
